captures
**/bin/*
**/target/*
**/gen/*
**/build/*
**/.idea/*
**/*.iml
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.metadata/*
*/com_crashlytics_export_strings.xml
**/com_crashlytics_export_strings.xml
**/crashlytics-build.properties
**/crashlytics.properties

*.orig
